:root {
  background-color: white;
  font-family: 'Roboto Flex', sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4px;
}


.footer {
  border-top: 1px solid #eaeaea;
  margin-top: 30px;
  padding-top: 20px;
}

.flex {
  display: flex;
}

.jcsb {
  justify-content: space-between;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}


.g12 {
  gap: 12px;
}

.w100 {
  width: 100%;
}

.pl12 {
  padding-left: 12px;
}

.pr12 {
  padding-right: 12px;
}